.App {
  text-align: center;
}

.main-wrapper {
  /* margin: 20px; */
  width: 1008px;
  margin: 0 auto;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #09d3ac;
}

.container {
  padding: 40px;
  background: blue;
}

button {
  background: blue
}

.player-wrapper {
  display: flex;
}

.now-playing__img img {
  width: 80px
}

.second-row {
  clear: both;
}