.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
}

.header .logo {
    color: #03A696;
    font-weight: 600; 
    font-size: 20px;
  
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px
}

.nav__links li a {
    transition: all 0.3s ease 0s
}

.logo {

}