/* .albums-grid {
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr auto;
} */

.grid-slide img {
  float: left;
  width: 33%;
  padding: 1px;
}

.new-releases-container {
    width: 50%;
    float: left;
}

.new-releases-container img {
  width:100px;
}

.new-releases-container span {
    font-size: 11px;
}

.slick-next, .slick-prev {
    background: #4682B4
}

.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover {
    background: #191970
}
.albums-grid {
    text-align: center;
}

.promotion-container {
    text-align: center;
    width: 27%;
    float: left;   /* flex doesn't seem to work well with slick slider */
    /* border: 2px solid #000000; */
    margin-left: 55px;
    opacity: .8;
    font-size: 12px;
}

.promotions-content {

}

.content-bottom {
    background: #000000;
    color: #eeeeee;
    width: 180px;
    margin: 0 auto;
}

.third-column span {
    font-size: 12px;
    padding: 4px;
    border: 2px solid #03A696;
}

.image-top img {
    width: 180px
}